<h1>Digite uma categoria:</h1>
<p>Exemplos: acao, fantasia ou comedia</p>
<input type="text" [(ngModel)]="categoriaEscolhida" name="categoriaEscolhida" placeholder="Digite aqui...">

<div *ngIf="categoriaEscolhida">
  <h3>Filmes da categoria "{{ categoriaEscolhida }}"</h3>

  <div [ngSwitch]="categoriaEscolhida">
    <div *ngSwitchCase="'acao'">
      <div *ngFor="let filme of filmesAcao">
        <h4>{{ filme.titulo }}</h4>
        <p>{{ filme.descricao }}</p>
        <img [src]="filme.imagem" alt="{{ filme.titulo }}">
      </div>
    </div>

    <div *ngSwitchCase="'comedia'">
      <div *ngFor="let filme of filmesComedia">
        <h4>{{ filme.titulo }}</h4>
        <p>{{ filme.descricao }}</p>
        <img [src]="filme.imagem" alt="{{ filme.titulo }}">
      </div>
    </div>

    <div *ngSwitchCase="'fantasia'">
        <div *ngFor="let filme of filmesComedia">
          <h4>{{ filme.titulo }}</h4>
          <p>{{ filme.descricao }}</p>
          <img [src]="filme.imagem" alt="{{ filme.titulo }}">
        </div>
      </div>

    <div *ngSwitchDefault>
      <p>Desculpe, não há filmes disponíveis para a categoria "{{ categoriaEscolhida }}"</p>
    </div>
  </div>
</div>